
<!-- ---------------------------------------------------Jumbotron-------------------------------------------------- -->

<div class="jumbotron">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag("happlyr_front.png", :alt => "Building block image") %>
    </div>
    <div class="col-md-7">
      <div class="container">
        <h2>Perfektes Anschreiben in 3 Schritten</h2>
        <h3>1. Bauen</h3>
        <p>Baue dein Anschreiben schneller mit Vorlagen-Blocks (siehe unten).</p>
        <h3>2. Anpassen</h3>
        <p>Passe die Vorlagen an. Mache dein Anschreiben einzigartig.</p>
        <h3>3. Sicher gehen</h3>
        <p>Vermeide Rechtschreibfehler. Einfach dein Anschreiben per Mail an die nachfolgende E-Mail Adresse senden und kostenlos korrigiert zurück bekommen. Innerhalb von 24 Stunden.</p>
        <br>
        <h3>boxply.anschreiben@gmail.com</h3>

        <!-- -----------------------------Form ------------------------------------------------------------
        <form>
          <div class="form-group">
            <label for="exampleInputFile"></label>
            <input type="file" class="filestyle" data-buttonBefore="true" data-buttonText="Anschreiben auswählen" data-icon="false">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Deine Email Adresse   (hierhin schicken wir dein korrigiertes Anschreiben)">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Anschreiben senden</button>
        </form>
------------------------------------------------------------------------------------------------------------------- -->

      </div>
    </div>
  </div>
</div>




<!-- -----------------------------------------------------Einleitung----------------------------------------------------- -->
<div class="row">
  <div class="col-md-10">
  <div class="snippet-blocks">
      <div>
      <h1 id="sec0">Einleitung</h1>

      <!-- Einleitung: Allgemenin -------------------------------------------------------------------------------------- -->
      <h3 id="sec01">Einleitung: Allgemein</h3>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text1' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro1' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text1' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> ich habe mit großem Interesse <span class="exchange">{Ihre Anzeige gelesen}</span> und bewerbe mich für die Position als <span class="exchange">{Projektmanager Hochbau}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro1"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text2' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro2' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text2' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> die von Ihnen beschriebene Aufgabe im Bereich <span class="exchange">{Logistik und Transport}</span>, der mir aus <span class="exchange">{meiner Tätigkeit als Projekteinkäufer bei Musterfirma}</span> bestens bekannt ist, interessiert mich sehr. Daher möchte ich mich und meinen Erfahrungshintergrund kurz bei Ihnen vorstellen.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro2"))
       });
    </script>


      <!-- Einleitung: Berufseinstieg/Praktikum ------------------------------------------------------------------------ -->
      <br><br>
      <h3 id="sec02">Einleitung: Berufseinstieg/Praktikum</h3>

       <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text3' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro3' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text3' class="panel-body">
    Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> als angehender <span class="exchange">{Webentwickler}</span> habe ich schon während meines Studiums Erfahrungen <span class="exchange">{in der Implementierung von Portalen und Multimedia-Applikationen}</span> gesammelt. Ich absolvierte <span class="exchange">{mehrere Praktika in Start-up Unternehmen}</span>, unter anderem bei der <span class="exchange">{Musterfirma}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro3"))
       });
    </script>


    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text4' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro4' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text4' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> schon während meines Studiums <span class="exchange">{im Bereich Maschinenbau}</span> konnte ich praktische Erfahrung <span class="exchange">{in der Planung von Produktions- und Automationssystemen}</span> bei der <span class="exchange">{Muster AG}</span> sammeln. Als <span class="exchange">{Werkstudent}</span> unterstützte ich das Team <span class="exchange">{bei der Berechnung der Durchsatzleistungen und Taktzeiten}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro4"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text5' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro5' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text5' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> mit Begeisterung habe ich <span class="exchange">{auf Ihrer Firmenwebsite gelesen}</span>, dass Sie <span class="exchange">{auch ein Trainee-Programm anbieten}</span>. Da ich meine berufliche Zukunft in der <span class="exchange">{Biotechnologie-Branche}</span> sehe und <span class="exchange">{Musterfirma}</span> gleichermaßen Wert auf <span class="exchange">{gute Beratung und auf guten Vertrieb}</span> legt, möchte ich künftig Ihre <span class="exchange">{Sales-Abteilung verstärken}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro5"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text6' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro6' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text6' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> durch die erfolgreiche Diplomarbeit in Ihrem Unternehmen schloss ich im <span class="exchange">{November letzten Jahres}</span> mein <span class="exchange">{BWL}</span>-Studium mit dem Schwerpunkt <span class="exchange">{Marketing}</span> ab. Nun will ich in der ausgeschriebenen Position meine Fähigkeiten und Leistungsbereitschaft erneut unter Beweis stellen.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro6"))
       });
    </script>

      <!-- Einleitung: Berufliche Neuorientierung ---------------------------------------------------------------------- -->
      <br><br>
      <h3 id="sec03">Einleitung: Berufliche Neuorientierung</h3>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text7' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro7' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text7' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> nach <span class="exchange">{vier}</span> Jahren im Bereich <span class="exchange">{Employer Branding}</span> möchte ich zurück zu meinen beruflichen Wurzeln und in eine Position <span class="exchange">{mit einem stärkeren juristischen Schwerpunkt}</span> wechseln.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro7"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text8' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro8' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text8' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> nach <span class="exchange">{drei}</span> Jahren Erfahrung als <span class="exchange">{Technischer Redakteur}</span> der <span class="exchange">{Musterfirma}</span> strebe ich eine berufliche Neuorientierung an, da <span class="exchange">{mein jetziger Arbeitgeber zum Ende dieses Jahres diese Abteilung auflösen wird}</span>. Ich habe in meiner jetzigen Stelle bereits Erfahrung <span class="exchange">{im Erstellen und Einpflegen von Texten in Softwareprodukte und Benutzerhandbücher}</span> erworben und dabei <span class="exchange">{Kenntnisse in der digitalen Wissensvermittlung entwickelt}</span>. Aus diesem Grund möchte ich mich Ihnen kurz vorstellen.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro8"))
       });
    </script>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text9' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro9' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text9' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> nach <span class="exchange">{drei}</span> Jahren Berufserfahrung <span class="exchange">{im Gastrogewerbe}</span>, bin ich auf der Suche nach einer neuen Herausforderung. Aus diesem Grund entspricht Ihre <span class="exchange">{Stelle des Barmanagers}</span>, in der <span class="exchange">{die Koordination von Mitarbeitern und der direkte Kundenkontakt kombiniert sind}</span>, genau meinen Vorstellungen.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro9"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text10' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro10' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text10' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> als <span class="exchange">{erfahrener Fertigungsplaner eines mittelständischen Automobilzulieferers}</span> strebe ich aktiv den Wechsel in <span class="exchange">{die Leichtbau-Branche}</span> an. Die von Ihnen skizzierten Aufgaben <span class="exchange">{des Plant Managers}</span> sehe ich als einen für mich thematisch sinnvollen Entwicklungsschritt.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro10"))
       });
    </script>


      <!-- Einleitung: Vorheriger Kontakt ------------------------------------------------------------------------------ -->
      <br><br>
      <h3 id="sec04">Einleitung: Vorheriger Kontakt</h3>

        <div class="panel panel-default">
          <button class='btn btn-default' data-clipboard-target='intro_text11' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro11' title='Click me to copy to clipboard.'>
          <b>Kopieren</b>
          </button>
          <p id='intro_text11' class="panel-body">
          Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> vielen Dank für das informative Telefonat <span class="exchange">{heute Vormittag}</span>. In meiner derzeitigen Position als <span class="exchange">{Personalsachbearbeiter}</span> bei <span class="exchange">{Musterfirma erstelle und platziere ich Stellenausschreibungen und bin verantwortlich für die termingenaue und korrekte Abrechnung von Löhnen und Reisekosten}</span>. Die Stelle als <span class="exchange">{Assistent der Geschäftsführung}</span> knüpft optimal an meine bisherigen Erfahrungen an.
          </p>
        </div>
        <script>
          $(document).ready(function() {
            var clip = new ZeroClipboard($("#d_clip_button_intro11"))
           });
        </script>


        <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text12' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro12' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text12' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> vielen Dank für das informative Telefonat <span class="exchange">{am Mittwoch Nachmittag}</span>. Besonders interessant war für mich, dass sich der Aufgabenschwerpunkt <span class="exchange">{der Trainee-Position}</span> mit meinem <span class="exchange">{derzeitigen Seminar "Lean Management"}</span> deckt.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro12"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_text13' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro13' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_text13' class="panel-body">
      Sehr geehrter <span class="exchange">{Herr Mustermann}</span>, <br><br> für Ihr Angebot, Ihnen meine Bewerbungsunterlagen zu übersenden, möchte ich mich nochmals bedanken.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_intro13"))
       });
    </script>

    <!-- -----------------------------------------------------Hauptteil-------------------------------------------------- -->
    <br><br>
    <div>
      <h1 id="sec1">Hauptteil</h1>

    <!-- Hauptteil: Allgemeine Eignung ------------------------------------------------------------------------------ -->
    <h3 id="sec11">Hauptteil: Allgemeine Eignung</h3>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text1' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt1' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text1' class="panel-body">
      <span class="exchange">{Hohe Einsatzbereitschaft, kundenorientiertes Denken und Teamfähigkeit}</span> sind für mich ebenso selbstverständlich wie <span class="exchange">{ein sicheres und überzeugendes Auftreten}</span>. Auch den Einsatz in <span class="exchange">{Ihren internationalen Niederlassungen}</span>, empfinde ich als spannende Aufgabe. Hierfür bringe ich <span class="exchange">{sehr gute Fremdsprachenkenntnisse in Türkisch und Arabisch}</span> mit.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt1"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text2' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt2' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text2' class="panel-body">
      Die Stelle als <span class="exchange">{Sachbearbeiter Ersatzteillager}</span> knüpft optimal an meine bisherigen Erfahrungen an:
        <ul>
          <li> Sie suchen einen <span class="exchange">{Experten für das Management von Ersatzteilen}</span>: Ich habe <span class="exchange">{zwei Jahr lang die Annahme von überzähligem Lager-Bestand mit Sichtkontrolle verantwortet. Hierbei habe ich gleichzeitig die Klärung von Garantien, Kulanzen und Mängelrügen übernommen}</span>.</li>
          <li><span class="exchange">{Mit der Verbuchung im SAP-System}</span> bin ich bestens vertraut.</li>
          <li>Einer meiner Tätigkeitsschwerpunkte ist <span class="exchange">{die Überwachung ausstehender Lieferungen von Lieferanten sowie Kunden}</span>.</li>
        </ul>
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt2"))
       });
    </script>

    <!-- Hauptteil: Berufseinstieg/Praktikum ------------------------------------------------------------------------ -->
    <br><br>
    <h3 id="sec12">Hauptteil: Berufseinstieg/Praktikum</h3>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text3' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt3' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text3' class="panel-body">
      Im <span class="exchange">{Mai}</span> habe ich mein Studium <span class="exchange">{der Volkswirtschaftslehre}</span> an der <span class="exchange">{Universität Mannheim}</span> erfolgreich abgeschlossen. Mit den Besonderheiten <span class="exchange">{der Robotik-Branche}</span> habe ich mich im Rahmen <span class="exchange">{meiner Abschlussarbeit}</span> beschäftigt und <span class="exchange">{ein Konzept zum Vertrieb und Absatz technisch anspruchsvoller Robotik-Lösungen bei Musterfirma entworfen. Einige meiner Empfehlungen wurden von der Geschäftsführung umgesetzt}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt3"))
       });
    </script>


    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text4' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt4' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text4' class="panel-body">
      Die Arbeit <span class="exchange">{im Datenmanagement}</span> konnte ich durch eine Tätigkeit als <span class="exchange">{Werkstudent bei Musterfirma}</span> kennen und schätzen lernen: Dort habe ich <span class="exchange">{das IT-team bei der Programmierung von Validierungsprozeduren in Oracle Clinical unterstützt}</span>. In <span class="exchange">{einem siebenmonatigen Praktikum bei Musterfirma in London}</span> konnte ich <span class="exchange">{meine Englischkenntnisse und Problemlösungsfähigkeiten in internationalen Teams ausbauen}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt4"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text5' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt5' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text5' class="panel-body">
      Zurzeit befinde ich mich <span class="exchange">{im vierten}</span> Semester des Studiengangs <span class="exchange">{Betriebswirtschaftslehre}</span> mit Schwerpunkt <span class="exchange">{Corporate Social Responsibility und Business Ethik}</span>. Das <span class="exchange">{dritte}</span> Semester absolvierte ich <span class="exchange">{in Dänemark an der Musteruniversität}</span>. Die Teilnahme an <span class="exchange">{verschiedenen Workshops und Seminaren stärkte mein besonderes Interesse}</span> an <span class="exchange">{Biotechnologie Start-ups}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt5"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text6' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt6' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text6' class="panel-body">
      Den Schwerpunkt legte ich in meinem Studium auf <span class="exchange">{die Erstellung der Monats-, Quartals- und Jahresabschlüsse nach HGB und IFRS}</span>. Wegen meines besonderen Interesses an <span class="exchange">{der Vorbereitung der betrieblichen Jahressteuererklärungen}</span> schrieb ich meine Diplomarbeit zum Thema <span class="exchange">{„Erstellung von Umsatzsteuervoranmeldungen bei multinationalen Konzernen“}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt6"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text7' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt7' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text7' class="panel-body">
      Durch meine abgeschlossene Ausbildung <span class="exchange">{als Pharmazeutischer Fachangestellter}</span> bin ich mit <span class="exchange">{der Bearbeitung und Prüfung von Chargendokumentationen}</span> gut vertraut. Weitere Erfahrungen sammelte ich in <span class="exchange">{meinem Praktikum bei Musterfirma}</span>. Hier begleitete ich <span class="exchange">{die Stammdatenbearbeitung und -pflege}</span>. Außerdem unterstützte ich das Team <span class="exchange">{mit der Übernahme der Telefon- und E-Mail-Korrespondenz}</span>. Hierbei konnte ich <span class="exchange">{mein freundliches Auftreten und sicheren Umgang mit dem MS Office-Paket}</span> unter Beweis stellen.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt7"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text8' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt8' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text8' class="panel-body">
      Ich studiere <span class="exchange">{Wirtschaftsinformatik}</span> im <span class="exchange">{achten}</span> Semester mit dem Schwerpunkt <span class="exchange">{IT-Security Lösungen}</span>. Mein <span class="exchange">{analytisches Denkvermögen}</span> stellte ich bereits im Rahmen eines <span class="exchange">{dreimonatigen Praktikums bei Musterfirma D.M.A.}</span> unter Beweis. Dort <span class="exchange">{beriet ich unserer Kunden bei der Spezifikation von Security-Lösungen
für Internet- und Intranet-Plattformen}</span>. Zudem <span class="exchange">{implementierte ich Lösungen rund um das Thema Identity- und Access Management}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt8"))
       });
    </script>

     <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text9' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt9' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text9' class="panel-body">
      Im Rahmen meiner <span class="exchange">{zweijährigen}</span> Tätigkeit als <span class="exchange">{Werkstudent bei Musterfirma}</span> unterstützte ich <span class="exchange">{die technische Projektarbeit im Product Lifecycle Management mit Schwerpunkt Manufacturing. Zeitweise konnte ich auch die Urlaubsvertretungen übernehmen.}</span>
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt9"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text10' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt10' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text10' class="panel-body">
      Mein Studium der <span class="exchange">{Bekleidungstechnik}</span> an der <span class="exchange">{Musteruniversität}</span> habe ich <span class="exchange">{im Mai mit sehr gut abgeschlossen}</span>. <span class="exchange">{Produktentwicklung}</span> stellte den thematischen Schwerpunkt meiner <span class="exchange">{Diplomarbeit}</span> dar. Ich <span class="exchange">{entwarf ein Konzept zur Umsetzung der Brand DNA}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt10"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text9' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt9' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text9' class="panel-body">
      Zweiter Schwerpunkt meines Studiums war <span class="exchange">{Motiondesign}</span>. Praxiserfahrungen in diesem Bereich habe ich <span class="exchange">{bei Musterfirma}</span> gesammelt. Im Rahmen eines <span class="exchange">{viermonatigen Praktikums}</span> unterstützte ich das <span class="exchange">{Design}</span>-Team bei der <span class="exchange">{Designentwicklung und Produktion von Trailergrafiken, Tafeln, Inserts, Endboards und Openframes}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt9"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text10' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt10' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text10' class="panel-body">
      Bei einem Praktikum <span class="exchange">{im Feinkost-Fachgeschäft Musterfirma}</span> konnte ich darüber hinaus meine <span class="exchange">{Kontaktsicherheit im Umgang mit Kunden}</span> unter Beweis stellen. Durch <span class="exchange">{einen längeren Auslandsaufenthalt in der Schweiz, den ich eigenständig organisiert habe,}</span> bin ich verantwortungsbewusst und zielstrebig geworden. Da ich seit <span class="exchange">{drei Jahren im Verein Handball spiele}</span>, bin ich zudem Teamarbeit gewohnt.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt10"))
       });
    </script>

    <!-- Hauptteil: Besondere Kompetenzen --------------------------------------------------------------------------- -->
    <br><br>
    <h3 id="sec13">Hauptteil: Besondere Kompetenzen</h3>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text11' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt11' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text11' class="panel-body">
      Durch die langjährige Anwendung von <span class="exchange">{Office 365 und PowerShell}</span> eignete ich mir einen fortgeschrittenen Umgang <span class="exchange">{bei der Betreuung und Administration tausender Arbeitsplätze}</span> an. <span class="exchange">{Verhandlungssicheres Französisch, selbstständiges und strukturiertes Arbeiten}</span> sind für mich ebenso selbstverständlich wie <span class="exchange">{die Arbeit im Team}</span>.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt11"))
       });
    </script>

    <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='haupt_text12' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt12' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='haupt_text12' class="panel-body">
      Ich spreche <span class="exchange">{verhandlungssicheres Englisch und Spanisch}</span> und habe sehr gute Kenntnisse in <span class="exchange">{Microsoft Excel und Powerpoint}</span>. <span class="exchange">{Eine eigenständige und strukturierte Arbeitsweise sowie analytische Fähigkeiten}</span> bringe ich selbstverständlich mit.
    </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_haupt12"))
       });
    </script>

    </div>
<!-- -------------------------------------------------Schlussteil------------------------------------------------- -->

    <div>
      <br><br>
      <h1 id="sec2">Schlussteil</h1>
      <!-- Schlussteil: Allgemein ----______________---------------------------------------------------------------- -->
      <h3 id="sec21">Schlussteil: Allgemein</h3>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss1' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss1' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss1' class="panel-body">
      Auf die Einladung zu einem Vorstellungsgespräch freue ich mich.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss1"))
       });
    </script>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss2' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss2' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss2' class="panel-body">
      Über die Einladung zu einem persönlichen Gespräch freue ich mich daher sehr.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss2"))
       });
    </script>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss3' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss3' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss3' class="panel-body">
      Gerne überzeuge ich Sie in einem persönlichen Gespräch.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss3"))
       });
    </script>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss4' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss4' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss4' class="panel-body">
      Lassen Sie sich von meinen Fähigkeiten in einem persönlichen Gespräch überzeugen. Auf Ihre Einladung freue ich mich und verbleibe<br><br><br>mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss4"))
       });
    </script>

      <!-- Schlussteil: Berufseinstieg/Praktikum ------------------------------------------------------------------ -->
      <br><br>
      <h3 id="sec22">Schlussteil: Berufseinstieg/Praktikum</h3>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='schluss_text5' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss5' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='schluss_text5' class="panel-body">
      Ich würde mich sehr freuen, wenn ich <span class="exchange">{in Ihrem Unternehmen}</span> meine Ausbildung <span class="exchange">{zum Mechatroniker}</span> absolvieren darf. Auf ein persönliches Gespräch mit Ihnen freue ich mich jetzt schon.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss5"))
       });
    </script>

      <!-- Schlussteil: Kompetenzen/Motivation ------------------------------------------------------------------ -->
      <br><br>
      <h3 id="sec23">Schlussteil: Kompetenzen/Motivation</h3>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss6' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss6' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss6' class="panel-body">
      Wie ich <span class="exchange">{Ihrer Webseite}</span> entnommen habe, liegt Ihr Schwerpunkt <span class="exchange">{im Biosegment}</span>. Hieran reizen mich vor allem <span class="exchange">{der Kundenkontakt und die Möglichkeit, hochwertige und umweltbewusst produzierte Konsumgüter zu vertreiben}</span>. Gerne würde ich mich mit großem Engagement in Ihr Team einbringen.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss6"))
       });
    </script>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss7' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss7' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss7' class="panel-body">
      Aus diesem Grund möchte ich mich nun neu orientieren. Die Aufgabe <span class="exchange">{als Entwicklungsingenieur im Bereich Automotive}</span> sehe ich als sehr gute Möglichkeit, mich mit meinen beruflichen Erfahrungen sinnvoll und gewinnbringend einzubringen. Auf ein persönliches Gespräch mit Ihnen freue ich mich.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss7"))
       });
    </script>

      <!-- Schlussteil: Gehalt/Einstiegstermin ------------------------------------------------------------------ -->
      <br><br>
      <h3 id="sec24">Schlussteil: Gehalt/Einstiegstermin</h3>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss8' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss8' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss8' class="panel-body">
      Mein Start bei Ihnen kann zum <span class="exchange">{1. JMai 2016}</span> erfolgen, meine Vorstellung zum Jahresbruttogehalt beträgt <span class="exchange">{45.000}</span> EUR. Auf ein persönliches Gespräch mit Ihnen freue ich mich sehr.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss8"))
       });
    </script>

      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss9' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss9' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss9' class="panel-body">
      Mein Gehaltswunsch beläuft sich auf <span class="exchange">{45.000}</span> € p. a. Meine Kündigungsfrist beträgt <span class="exchange">{4 Wochen zum Quartal}</span>, so dass ich Ihnen frühestmöglich zum <span class="exchange">{1. Mai 2016}</span> zur Verfügung stehen kann.	Über eine Einladung zu einem persönlichen Gespräch freue ich mich sehr.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss9"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss10' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss10' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss10' class="panel-body">
      Diese Erfahrungen und Kompetenzen möchte ich sehr gern als <span class="exchange">{Koch bei Musterunternehmen}</span> einbringen. Zudem bin ich sehr an <span class="exchange">{der ökologischen Landwirtschaft und regional produzierten Lebensmitteln}</span> interessiert und möchte <span class="exchange">{ihre Speisekarte um hochwertige Angebote im Bio-Segment erweitern}</span>. Als möglichen Eintrittstermin kann ich Ihnen aufgrund meiner Kündigungsfrist von <span class="exchange">{sechs Wochen}</span> zum Monatsende den <span class="exchange">{1. Mai  2016}</span> nennen. Meine Gehaltswunsch beträgt <span class="exchange">{45.000}</span> € p. a.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss10"))
       });
    </script>


      <div class="panel panel-default">
      <button class='btn btn-default' data-clipboard-target='intro_schluss11' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_schluss11' title='Click me to copy to clipboard.'>
      <b>Kopieren</b>
    </button>
      <p id='intro_schluss11' class="panel-body">
      Der Eintritt in Ihr Unternehmen ist für mich ab dem <span class="exchange">{01. Mai 2016}</span> möglich. Über Ihre Einladung zu einem Vorstellungsgespräch freue ich mich sehr.<br><br><br>Mit freundlichen Grüßen,<br><br><span class="exchange">{Max Mustermann}</span>
      </p>
    </div>
       <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button_schluss11"))
       });
    </script>

    </div>
  </div>
</div>

<!-- -------------------------------------------------Floating Navbar------------------------------------------------- -->

  <div class="col-md-2">
    <!--main-->
    <div class="container">
          <!--left-->
          <div class="col-md-3" id="leftCol">
            <ul class="nav nav-stacked navbar-right" id="sidebar">
              <li><a href="#sec0">Einleitung</a></li>
                <ul>
                  <li><a href="#sec01">Allgemeine Einleitung</a></li>
                  <li><a href="#sec02">Berufseinstieg/Praktikum</a></li>
                  <li><a href="#sec03">Berufliche Neuorientierung</a></li>
                  <li><a href="#sec04">Vorheriger Kontakt</a></li>
                </ul>
              <li><a href="#sec1">Hauptteil</a></li>
                <ul>
                  <li><a href="#sec11">Allgemeine Eignung</a></li>
                  <li><a href="#sec12">Berufseinstieg/Praktikum</a></li>
                  <li><a href="#sec13">Besondere Kompetenzen</a></li>
                </ul>
              <li><a href="#sec2">Schlussteil</a></li>
                <ul>
                  <li><a href="#sec21">Allgemein</a></li>
                  <li><a href="#sec22">Berufseinstieg/Praktikum</a></li>
                  <li><a href="#sec23">Kompetenz/Motivation</a></li>
                  <li><a href="#sec24">Gehalt/Einstiegstermin</a></li>
                </ul>
            </ul>
          </div><!--/left-->

    </div><!--/container-->
  </div>


</div>






