<div class="jumbotron">
<h1>Happlyr</h1>
<p>Erstelle das beste Anschreiben für deine Bewerbung</p>
</div>

<!-- -----------------------------------------------------Einleitung----------------------------------------------------- -->

<div>
  <h1>Einleitung</h1>

<div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text1' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro1' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text1' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> mit Begeisterung habe ich auf Ihrer Firmenwebsite gelesen, dass Sie auch ein Trainee-Programm anbieten. Da ich meine berufliche Zukunft in der Biotechnologie-Branche sehe und Musterfirma gleichermaßen Wert auf gute Beratung und auf guten Vertrieb legt, möchte ich künftig Ihre Sales-Abteilung verstärken.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro1"))
   });
</script>


<div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text2' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro2' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text2' class="panel-body">
Sehr geehrter Herr Mustermann, <br><br> als angehender Softwareentwickler habe ich schon während meines Studiums Erfahrungen bei der Integration von Softwaremodulen in ein ablauffähiges Produkt gesammelt. Ich absolvierte mehrere Praktika in IT-Abteilungen, unter anderem bei der Mustergroup.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro2"))
   });
</script>


<div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text3' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro3' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text3' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> schon während meines Studiums des Wirtschaftsingenieurwesens konnte ich praktische Erfahrung im Bereich der Automatisierungstechnik bei der Brogster AG sammeln. Als Werkstudent unterstützte ich das Team bei der Gestaltung und Optimierung von Produktionsabläufen.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro3"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text4' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro4' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text4' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> vielen Dank für das informative Telefonat am Mittwoch. Besonders interessant war für mich, dass sich der Aufgabenschwerpunkt des Praktikums mit meinem derzeitigen Seminar "Lean Management" deckt.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro4"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text5' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro5' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text5' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> ich habe mit großem Interesse Ihre Anzeige gelesen und bewerbe mich für die Position als Organisationsentwicklerin.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro5"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text6' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro6' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text6' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> als angehender Wirtschaftsingenieur habe ich schon während meines Studiums mehrjährige Erfahrung im technischen Einkauf bei der Muster AG gesammelt. Als Werkstudent betreute ich selbständig 15 Lieferanten.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro6"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text7' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro7' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text7' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> vielen Dank für das informative Telefonat diesen Mittwoch. In meiner derzeitigen Position als Produktmanager bei Musterfirma steuere ich die Weiterentwicklung mobiler Internetdienste und bin technischer Ansprechpartner für unsere internationalen Partner. Die Stelle als Produktmanager Mobile Services knüpft optimal an meine bisherigen Erfahrungen an.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro7"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text8' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro8' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text8' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> nach fünf Jahren im Bereich Personalentwicklung und einer kombinierten Ausbildung in den Natur- und Wirtschaftswissenschaften möchte ich zurück zu meinen beruflichen Wurzeln und in eine Position mit einem stärkeren naturwissenschaftlichen Schwerpunkt wechseln.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro8"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text9' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro9' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text9' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> nach vier Jahren Erfahrung als Sachgebietsleiterin Kundensupport der Musterfirma strebe ich eine berufliche Neuorientierung an, da mein jetziger Arbeitgeber zum Ende dieses Jahres diese Abteilung auflösen wird. Ich habe in meiner jetzigen Stelle bereits Erfahrung in der betriebswirtschaftlichen Führung eines komplexen Pharma-Bereichs erworben und dabei eine hohe Markt- und Kundenorientierung entwickelt. Aus diesem Grund möchte ich mich Ihnen kurz vorstellen.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro9"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text10' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro10' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text10' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> für Ihr Angebot, Ihnen meine Bewerbungsunterlagen zu übersenden, möchte ich mich nochmals bedanken.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro10"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text11' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro11' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text11' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> die von Ihnen beschriebene Aufgabe im Bereich Automobil, der mir aus früheren beruflichen Stationen bestens bekannt ist, interessiert mich sehr. Daher möchte ich mich und meinen Erfahrungshintergrund kurz bei Ihnen vorstellen.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro11"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text12' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro12' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text12' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> nach drei Jahren Berufserfahrung in einem multinationalen Umfeld, bin ich auf der Suche nach einer neuen Herausforderung. Aus diesem Grund entspricht Ihre Stelle des Controllers, in der monatliches Reporting und Vertriebscontrolling kombiniert sind, genau meinen Vorstellungen.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro12"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='intro_text13' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_intro13' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='intro_text13' class="panel-body">
  Sehr geehrter Herr Mustermann, <br><br> als erfahrener Abteilungsleiter in einer Agentur für Social-Media Intelligence strebe ich aktiv den Wechsel in die Industrie an. Die von Ihnen skizzierten Aufgaben des Kundenentwicklers sehe ich als einen für mich thematisch sinnvollen Entwicklungsschritt.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_intro13"))
   });
</script>

<!-- -----------------------------------------------------Hauptteil----------------------------------------------------- -->

<div>
  <h1>Hauptteil</h1>

  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text1' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt1' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text1' class="panel-body">
  Im März habe ich mein Studium der Volkswirtschaftslehre an der Universität zu Köln erfolgreich abgeschlossen. Mit den Besonderheiten der IT-Branche habe ich mich im Rahmen meiner Abschlussarbeit beschäftigt und ein Konzept zur Einführung eines neuen Produkts bei dem IT-Dienstleister Halvit entworfen. Einige meiner Empfehlungen wurden von der Geschäftsführung umgesetzt.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt1"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text2' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt2' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text2' class="panel-body">
  Die Arbeit im Vertrieb konnte ich durch eine Tätigkeit als Werkstudent bei MakeIT kennen und schätzen lernen: Dort habe ich das Vertriebsteam bei der Konzeptentwicklung unterstützt und bereits erste Akquisitionsgespräche geführt. In einem dreimonatigen Praktikum bei meg consulting in Dublin konnte ich meine Sprachkenntnisse und internationalen Fähigkeiten ausbauen.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt2"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text3' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt3' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text3' class="panel-body">
  Reisebereitschaft, Kommunikationsfähigkeit und Durchsetzungsvermögen sind für mich ebenso selbstverständlich wie die Arbeit im Team. Auch den Einsatz in Ihren internationalen Niederlassungen, der im Trainee vorgesehen ist, empfinde ich als spannende Aufgabe. Hierfür bringe ich sehr gute Fremdsprachenkenntnisse in Englisch und Russisch mit.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt3"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text4' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt4' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text4' class="panel-body">
  Zurzeit befinde ich mich im fünften Semester des Studiengangs Ingenieurinformatik mit Schwerpunkt Elektrotechnik der Universität Paderborn. Das vierte Semester absolvierte ich in Österreich an der Technischen Universität Wien. Die Teilnahme an verschiedenen Workshops und Seminaren stärkte mein besonderes Interesse an der Informatik.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt4"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text5' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt5' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text5' class="panel-body">
  Durch die langjährige Anwendung von Microsoft-Programmen und MALDI-TOF eignete ich mir einen fortgeschrittenen Umgang mit verschiedenen Analyse-Verfahren an. Verhandlungssicheres Englisch, Organisationstalent und Lernbereitschaft sind für mich ebenso selbstverständlich wie die Arbeit im Team.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt5"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text6' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt6' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text6' class="panel-body">
  Den Schwerpunkt legte ich in meinem Studium auf die Entwicklung von Maschinen und Anlagen. Wegen meines besonderen Interesses an der Automatisierungstechnik schrieb ich meine Diplomarbeit zum Thema „Automatisierung von Regressionstests eines Programms zur Halbleiter-Strukturanalyse“.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt6"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text7' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt7' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text7' class="panel-body">
  Durch meine abgeschlossene Ausbildung zum Mechaniker bin ich mit Ihren Produktgruppen auch in technischer Hinsicht gut vertraut. Weitere Erfahrungen sammelte ich in meinem Praktikum bei P.O.G. Engineering. Hier begleitete ich die Produktion bei der Weiterentwicklung und Einführung von Maschinen. Außerdem unterstützte ich das Team mit der Koordination von werksinternen Projekten. Hierbei konnte ich Durchsetzungsvermögen und Teamfähigkeit unter Beweis stellen.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt7"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text8' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt8' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text8' class="panel-body">
  Ich studiere Betriebswirtschaftslehre im fünften Semester mit den Schwerpunkten Controlling und Rechnungswesen. Meine analytischen Fähigkeiten stellte ich bereits im Rahmen eines viermonatigen Praktikums beim Handelsunternehmen D.M.A. unter Beweis. Dort evaluierte ich die Kostenentwicklung im Einkauf und lieferte Vorschläge für die Prozess- und Systemoptimierung. Zudem führte ich Vorgespräche mit alternativen Zulieferern.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt8"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text9' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt9' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text9' class="panel-body">
  Im Rahmen meiner einjährigen Tätigkeit als Werkstudent bei V:A Carrier unterstützte ich das Controlling bei der Kostenplanung und Kalkulation von Produktvarianten und Projekten. Zeitweise konnte ich auch die Urlaubsvertretungen übernehmen.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt9"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text10' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt10' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text10' class="panel-body">
  Mein Studium der Betriebswirtschaft an der Universität Frankfurt habe ich im Juli sehr gut abgeschlossen. Organisationsentwicklung stellte den thematischen Schwerpunkt meiner Diplomarbeit dar. Ich entwarf ein Konzept zur Reorganisation des Vertriebs im Handelsunternehmen Deya. Einige meiner Empfehlungen wurden von der Geschäftsführung umgesetzt.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt10"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text11' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt11' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text11' class="panel-body">
  Zweiter Schwerpunkt meines Studiums war Personalwirtschaft. Praxiserfahrungen in diesem Bereich habe ich bei FZU Consult gesammelt. Im Rahmen eines viermonatigen Praktikums unterstützte ich das Recruiting-Team bei der Konzeptentwicklung und hospitierte bei Akquisitionsgesprächen, Seminaren und Workshops.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt11"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text11' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt11' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text11' class="panel-body">
  Ich spreche verhandlungssicheres Englisch und Polnisch und habe sehr gute Kenntnisse in MS-Office und SAP R/3. Strukturiertes, kostenbewusstes Denken und Handeln sowie analytische Fähigkeiten bringe ich selbstverständlich mit.
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt11"))
   });
</script>


  <div class="panel panel-default">
  <button class='btn btn-default' data-clipboard-target='haupt_text11' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button_haupt11' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>
  <p id='haupt_text11' class="panel-body">
  Die Stelle als Produktmanager Mobile Services knüpft optimal an meine bisherigen Erfahrungen an:
    <ul>
      <li> Sie suchen einen Experten für Osteuropa: Ich habe ein halbes Jahr lang vor Ort in Prag die Produkteinführung eines Software-Produkts gesteuert. Ich spreche verhandlungssicheres Tschechisch und habe Grundkenntnisse in Russisch.</li>
      <li>Mit der Entwicklung von Testumgebungen für neue Anwendungen bin ich bestens vertraut. Anhand von Usability- und A/B Tests konnte ich die Userakzeptanz in den vergangenen zwei Jahren um 40 Prozent steigern.</li>
      <li>Einer meiner Tätigkeitsschwerpunkte ist die Zusammenarbeit mit dem Marketing-Team in Bezug auf optimale Produktpositionierung.</li>
    </ul>
</p>
</div>
   <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button_haupt11"))
   });
</script>

</div>

<div>
  <h1>Schlussteil</h1>
</div>