<button class='btn btn-default' data-clipboard-target='fe_text2' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button2' title='Click me to copy to clipboard.'>
  <b>Kopieren</b>
</button>