<p id='fe_text1' class="panel-body">
  Sehr geehrte Frau Müller, <br><br> mit Begeisterung habe ich auf Ihrer Firmenwebsite gelesen, dass Sie auch ein Trainee-Programm anbieten. Da ich meine berufliche Zukunft in der Biotecnologie-Branche sehe und Musterfirma gleichermaßen Wert auf gute Beratung und auf guten Vertrieb legt, möchte ich gerne künftig Ihre Sales-Abteilung verstärken.
</p>