<p id='fe_text2' class="panel-body">
Sehr geehrter Herr Fischer, <br><br> als angehender Ingenieurinformatiker habe ich schon während meines Studiums Erfahrungen bei der Integration von Softwaremodulen in ein ablauffähiges Produkt gesammelt. Ich absolvierte mehrere Praktika in IT-Abteilungen, unter anderem bei der BMW Group.
</p>